.gradle/
build/
*.class

.idea/
*.iml
out/

.vscode/

application-local.properties
application-prod.properties
src/main/resources/application.properties
src/test/resources/application.properties

.env

.DS_Store

logs/
*.log